<div class="custom-chart" [chart]="stockChart"></div>

<div class="mt-3 mb-5 row">
  <div class="col-6 text-left pl-5">
    <div
      *ngFor="let sensorsType of sensorsByTypeList"
      class="btn-group mr-1 mb-2"
    >
      <label class="my-1 mr-2 sensor-title" for="{{ sensorsType.type }}">{{
        sensorsType.name
      }}</label>
      <ng-select
        id="{{ sensorsType.type }}"
        class="sensors-select"
        [items]="sensorsType.sensors"
        [multiple]="true"
        bindLabel="name"
        [(ngModel)]="sensorsType.selectedSensors"
        (add)="onSensorSelected($event)"
        (remove)="onSensorRemoved($event)"
        (clear)="onAllSensorsRemoved()"
        placeholder="Nothing selected..."
      ></ng-select>
    </div>
  </div>

  <div class="col-6">
    <div class="btn-group mr-1">
      <label class="my-1 pr-3" for="inlineFormCustomSelectPref1"
        >Chart type</label
      >
      <select
        [(ngModel)]="chartType"
        (ngModelChange)="onChangeChartProperty()"
        class="custom-select my-1 mr-sm-2"
        id="inlineFormCustomSelectPref1"
      >
        <option value="line">Line</option>
        <option value="bar">Bar</option>
      </select>
    </div>

    <div class="btn-group mr-1">
      <label class="my-1 pr-3" for="inlineFormCustomSelectPref2"
        >Line color</label
      >
      <select
        [(ngModel)]="lineColor"
        (ngModelChange)="onChangeChartProperty()"
        class="custom-select my-1 mr-sm-2"
        id="inlineFormCustomSelectPref2"
      >
        <option value="#7cb5ec">Blue</option>
        <option value="#19A617">Green</option>
        <option value="#AD1106">Red</option>
      </select>
    </div>
  </div>
</div>
