<div class="custom-chart" [chart]="stockChart"></div>

<div class="mt-3 mb-5 row">
  <div class="col-12 text-left pl-5">
    <div
      *ngFor="let sensorsType of sensorsByTypeList"
      class="form-inline mr-1 mb-2"
    >
      <label class="my-1 mr-2 sensor-title" for="{{ sensorsType.type }}">{{
        sensorsType.name
      }}</label>

      <ng-select
        id="{{ sensorsType.type }}"
        class="sensors-select"
        [items]="sensorsType.sensors"
        [multiple]="true"
        bindLabel="name"
        [(ngModel)]="sensorsType.selectedSensors"
        (add)="onSensorSelected($event, sensorsType.chartType)"
        (remove)="onSensorRemoved($event)"
        (clear)="onAllSensorsRemovedByType(sensorsType.type)"
        placeholder="Nothing selected..."
      ></ng-select>

      <ng-container *ngIf="sensorsType.selectedSensors.length">
        <button
          [disabled]="sensorsType.selectedSensors.length === 1"
          [style.cursor]="
            sensorsType.selectedSensors.length === 1 ? 'not-allowed' : 'pointer'
          "
          class="btn btn-sm btn-success ml-2 approximate-button"
        >
          <div class="custom-control custom-switch">
            <input
              [(ngModel)]="sensorsType.isApproximate"
              (ngModelChange)="switchApproximate(sensorsType)"
              type="checkbox"
              class="custom-control-input"
              id="custom-switch"
            />
            <label class="custom-control-label" for="custom-switch"
              >Approximate</label
            >
          </div>
        </button>

        <div class="ml-5">
          <div class="btn-group mr-1">
            <label class="my-1 pr-3" for="chart-type">Chart type</label>
            <select
              [(ngModel)]="sensorsType.chartType"
              (ngModelChange)="onChangeChartProperty(sensorsType)"
              class="custom-select my-1 mr-sm-2"
              id="chart-type"
            >
              <option value="line">Line</option>
              <option value="bar">Bar</option>
            </select>
          </div>

          <div class="btn-group mr-1">
            <label class="my-1 pr-3" for="lines-color">Lines color</label>
            <select
              [(ngModel)]="sensorsType.lineColor"
              (ngModelChange)="onChangeChartProperty(sensorsType)"
              class="custom-select my-1 mr-sm-2"
              id="lines-color"
            >
              <option value="#7cb5ec">Blue</option>
              <option value="#19A617">Green</option>
              <option value="#AD1106">Red</option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
