<div class="modal-content border-0">
  <div class="modal-header">
    <h5 class="modal-title pt-0">Add chart widget</h5>
  </div>
  <div class="modal-body">
    <div class="col-12 text-left pl-5">
      <div class="mb-4">
        <label for="chartName">Chart name</label>
        <input
          [(ngModel)]="chartName"
          type="text"
          class="form-control"
          id="chartName"
          placeholder="Enter chart name"
        />
      </div>

      <div
        *ngFor="let sensorsType of sensorsByTypeList"
        class="form-inline mr-1 mb-3"
      >
        <label class="my-1 mr-2 sensor-title" for="{{ sensorsType.type }}">{{
          sensorsType.name
        }}</label>

        <ng-select
          id="{{ sensorsType.type }}"
          class="sensors-select mb-2"
          [items]="sensorsType.sensors"
          [multiple]="true"
          bindLabel="name"
          [(ngModel)]="sensorsType.selectedSensors"
          placeholder="Nothing selected..."
        ></ng-select>

        <ng-container *ngIf="sensorsType.selectedSensors.length">
          <!--          Approximate-->
          <!--          <button-->
          <!--            [disabled]="sensorsType.selectedSensors.length === 1"-->
          <!--            [style.cursor]="-->
          <!--              sensorsType.selectedSensors.length === 1-->
          <!--                ? 'not-allowed'-->
          <!--                : 'pointer'-->
          <!--            "-->
          <!--            class="btn btn-sm btn-success ml-2 approximate-button"-->
          <!--          >-->
          <!--            <div class="custom-control custom-switch">-->
          <!--              <input-->
          <!--                [(ngModel)]="sensorsType.isApproximate"-->
          <!--                [disabled]="sensorsType.selectedSensors.length === 1"-->
          <!--                type="checkbox"-->
          <!--                class="custom-control-input"-->
          <!--                id="{{ 'custom-switch-' + i + '-' + i }}"-->
          <!--              />-->
          <!--              <label-->
          <!--                class="custom-control-label"-->
          <!--                for="{{ 'custom-switch-' + i + '-' + i }}"-->
          <!--                >Approximate</label-->
          <!--              >-->
          <!--            </div>-->
          <!--          </button>-->

          <div class="ml-2">
            <div class="btn-group mr-4">
              <button
                (mouseover)="sensorsType.hover = true"
                (mouseleave)="sensorsType.hover = false"
                [style.background-color]="
                  sensorsType.hover ? sensorsType.lineColor : 'white'
                "
                [style.color]="
                  sensorsType.hover ? 'white' : sensorsType.lineColor
                "
                [style.border-color]="sensorsType.lineColor"
                class="btn ml-2 color-picker-button dropdown-toggle"
                [cpPosition]="'bottom'"
                [cpPositionOffset]="'30%'"
                [cpPositionRelativeToArrow]="true"
                [(colorPicker)]="sensorsType.lineColor"
              >
                Lines color
              </button>
            </div>

            <div class="btn-group mr-1">
              <label class="my-1 pr-3" for="chart-type">Chart type</label>

              <ng-select
                id="chart-type"
                class="chart-type-select"
                [items]="chartsTypes"
                [clearable]="false"
                [(ngModel)]="sensorsType.chartType"
              ></ng-select>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="saveChart()" type="button" class="btn btn-primary">
      Save chart
    </button>
    <button
      (click)="onCloseModal()"
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
    >
      Close
    </button>
  </div>
</div>
