.date-picker__container {
  margin-left: 50px;
}

.chart {
  border: 1px #dfe5ea solid;
  background-color: #f8f9fa;
}

.edit-button {
  background-color: #f8f9fa;
  color: #7c7c7d;
  border: 0;
  float: left;
}
